.root {
    -fx-background-color: #f4f4f4;
}

#selectedPacksLabel {
    -fx-font-size: 18px;
    -fx-text-fill: #1d92b9;
}

#stackPane {
    -fx-alignment: center;
    -fx-padding: 20px;
}

#biensContainer {
    -fx-padding: 10px;
}

.pagination {
    -fx-alignment: center;
}

.pagination .button {
    -fx-background-color: #1d92b9;
    -fx-text-fill: white;
}

.pagination .arrow-button {
    -fx-background-color: #1d92b9;
    -fx-text-fill: white;
}

.pagination .arrow-button:hover {
    -fx-background-color: #0c5c7c;
}

.pagination .arrow-button:pressed {
    -fx-background-color: #0c5c7c;
}

.button {
    -fx-background-color: #1d92b9;
    -fx-text-fill: white;
}

.button:hover {
    -fx-background-color: #0c5c7c;
}

.button:pressed {
    -fx-background-color: #0c5c7c;
}
